<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Farmácia</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Farmácia e Hospital</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="loginMedico.html">Login Médico</a></li>
                    <li><a href="loginFarmacia.html">Login Farmácia</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <h2>Login Farmácia</h2>
        <form id="loginFarmaciaForm">
            <label for="cnpj">CNPJ</label>
            <input type="text" id="cnpj" name="cnpj" required>

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" required>

            <input type="submit" value="Login">
        </form>
    </div>

    <script src="../js/script.js"></script>
</body>
</html>

